.idea
/vagrant.pem
/vagrant.ppk
/nginx/vagrant/.bash_history
/nginx/vagrant/.bash_logout
/nginx/vagrant/.bashrc
/nginx/vagrant/.cache/motd.legal-displayed
/nginx/vagrant/.profile
/nginx/vagrant/.ssh/authorized_keys
/nginx/vagrant/.viminfo
.vagrant
config.yml